<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vfast">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/fdlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fdlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDl3kJwEpjj3EVWWoKtRxFIdjlo23fhLo8"/>
        <activity android:name=".LoadingScreend">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderDetails" />
        <activity android:name=".customerPages.AddOrder" />
        <activity android:name=".Delevery.DeleveryMain" />
        <activity android:name=".customerPages.CustomerMain" />
        <activity android:name=".Delevery.DeleveryRegister" />
        <activity android:name=".Delevery.DeleveyLogin" />
        <activity android:name=".customerPages.CustomerRegister" />
        <activity android:name=".customerPages.Customer_Login">
        </activity>
        <activity android:name=".MainActivity"></activity>


        <service
            android:name=".notifications.FirebaseService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_SERVICE" />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.FirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- for sharing post image provder -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.vfast.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />
        </provider>

    </application>

</manifest>